/* Start: Element styles, won't affect benchmark results */

.cell {
    display: inline-block;
    background: blue;
    width: 1px;
    height: 1px;
     margin-right: 1px; 
    vertical-align: top;
}

.column {
    display: inline-block;
    background: gray;
}

.row {
    background: darkgray;
}
/* End: Element styles, won't affect benchmark results */
/* Start: Style rules that affects container only, and doesn't affect children */

.containerAuthorRule,
#containerAuthorRule,
[data-attr='containerAuthorRule'] {
    background: yellow;
}

.containerAuthorRule:focus {
    background: yellow;
}
/* End: Style rule that affects container only, and doesn't affect children */

/* Start: Style rules that affect row - this is sub-case for container */

.rowAuthorRule .row,
#rowAuthorRule .row,
[data-attr='rowAuthorRule'] .row {
    background: cyan;
}

.rowAuthorRule:focus .row {
    background: cyan;
}

/* End: Style rules that affect rows - sub-case for container */

/* Start: Style rules that affect columns - sub-case for containers */

.columnAuthorRule .column,
#columnAuthorRule .column,
[data-attr='column'] .column {
    background: pink;
}

.columnAuthorRule:focus .column {
    background: pink;
}

/* End: Style rules that affect columns - sub-case for containers */

/* Start: Style rules that affect cells */

.cellAuthorRule .cell,
#cellAuthorRule .cell,
[data-attr='cellAuthorRule'] .cell {
    background-color: magenta;
}

.cellAuthorRule:focus .cell {
    background: magenta;
}
/* End: Style rule that affects cells */