/* Start: User interface styles, won't affect benchmark results */

:root {
    --border-radius: 3px;
}

html {
    font-size: 14px
}

body {
    margin: 0;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

details#manualControls {
    margin: 1em;
    background: rgb(240, 240, 240);
    border-radius: var(--border-radius);
    padding: 1em;
    display: block;
}

details#manualControls summary {
    font-weight: 600;
}

header#results {
    background: inherit;
    padding: 1rem;
    padding-bottom: 0;
}

#generationColors
{
    height: 5px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

#generationColors span {
    height: 100%;
    width: calc(100%/7);
    display: inline-block;
}

header #generationsLabel {
    font-weight: bold;
}

header #generationsControls label {
    padding: 0.5em;
    vertical-align: middle;
}

header #generationsControls label:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

header #generationsControls label:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

button {
    padding: 0.5em;
    border: solid 2px rgb(75,75,75);
    border-radius: var(--border-radius);
    vertical-align: middle;
}

button#runAll {
    background: black;
    color: white;
}

span#latestTestValue,
time#latestResultValue {
    background: black;
    color: white;
    padding: 0.25rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem;    
    font-weight: 600;
    font-size: 1.5em;
    border-radius: var(--border-radius);
    vertical-align: middle;
}

p#queryParametersHelp {
    background: lightgoldenrodyellow;
    margin-left: 1rem;
    padding: 0.5rem;
    font-size: 0.6em;
    font-weight: bold;
}

h1 {
    font-size: 1rem;
    display: inline-block;
    width: 20em;
    font-weight: 600;
    text-align: right;
    padding-right: 2em;
    /* should move to Grid as it hits main */
}

section button {
     margin-right: 0.75em; 
}

table th {
    padding: 1em;
    font-weight: 600;
}
table td {
    text-align: center;
}

table td:last-child {
    font-weight: 600;
    background: gray;
    color: white;
}

table tr:nth-child(even) {
    background: silver;
}

input[type=text]#focusReceiver {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

/* End: User interface styles, won't affect benchmark results */
/* Start: Generations styling, won't affect benchmark results */

.gen1 {
    background: #EA5546;
    color: white;
}

.gen2 {
    background: #F9A228;
}

.gen3 {
    background: #FECC2F;
}

.gen4 {
    background: #6BC078;
    color: white;
}

.gen5 {
    background: #33BEB8;
}

.gen6 {
    background: #40A4D8;
}

.gen7 {
    background: #A363D8;
}

/* End: Generations styling, won't affect benchmark results */
/* Start: Element styles, won't affect benchmark results */

.cell {
    display: inline-block;
    background: blue;
    width: 1px;
    height: 1px;
     margin-right: 1px; 
    vertical-align: top;
}

.column {
    display: inline-block;
    background: gray;
}

.row {
    background: darkgray;
}
/* End: Element styles, won't affect benchmark results */
/* Start: Style rules that affects container only, and doesn't affect children */

.containerAuthorRule,
#containerAuthorRule,
[data-attr='containerAuthorRule'] {
    background: yellow;
}

.containerAuthorRule:focus {
    background: yellow;
}
/* End: Style rule that affects container only, and doesn't affect children */

/* Start: Style rules that affect row - this is sub-case for container */

.rowAuthorRule .row,
#rowAuthorRule .row,
[data-attr='rowAuthorRule'] .row {
    background: cyan;
}

.rowAuthorRule:focus .row {
    background: cyan;
}

/* End: Style rules that affect rows - sub-case for container */

/* Start: Style rules that affect columns - sub-case for containers */

.columnAuthorRule .column,
#columnAuthorRule .column,
[data-attr='column'] .column {
    background: pink;
}

.columnAuthorRule:focus .column {
    background: pink;
}

/* End: Style rules that affect columns - sub-case for containers */

/* Start: Style rules that affect cells */

.cellAuthorRule .cell,
#cellAuthorRule .cell,
[data-attr='cellAuthorRule'] .cell {
    background: magenta;
}

.cellAuthorRule:focus .cell {
    background: magenta;
}
/* End: Style rule that affects cells */